:root {
    --header-bg-color: #FFFFFF;
    --herofooter-bg-color: #2F303A;
    --body-bg-color: #FFFFFF;
    --team-bg-secondhead: #F5F4FA;
    --footer-adres-color: rgba(255, 255, 255, 0.6);

    --web-link-color: #2196F3;
    --darkmain-color: #000000;

    --text-main-color: #212121;
    --text-cecond-color: #757575;

    --hover-color: #188CE8;
    --Footer-adress: #ACACB0;
    }

/* Body properties */
body {
    margin: 0;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    background-color: var(--body-bg-color);
    color: var(--text-main-color);
    font-size: 14px;
    line-height: 2;
    }
    h1, h2, h3, h4, h5, h6, p{
        margin-top: 0;
        margin-bottom: 0;
        
    }
    .description-second-title, .team-section-title {
        margin-bottom: 10px;
    }
    .about-title, .team-title{
        margin-bottom: 50px;
    }
    
.header-container, .description-container, .about-container,
.team-cоntainer, .footer-container
 {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid red;

}
.header-container{
    display: flex;
    align-items: center;
}




.list{
    padding: 0px;
    margin: 0px;
    list-style: no;
}
/*header*/
.header {
background-color: var(--header-bg-color);
}
/*Hero*/
.hero-section{
    padding-top: 200px;
    padding-bottom: 200px;

background-color: var(--herofooter-bg-color);
text-align: center;
}
/*Team*/
.team-section{
    padding-top: 94px;
    padding-bottom: 94px;
background-color: var(--team-bg-secondhead) 
}
.footer{
    background-color: var(--herofooter-bg-color);
}


.hero-title{
margin-top: 0;
margin-bottom: 30px;
font-family: 'Roboto';
font-weight: 900;
font-size: 44px;
line-height: 1.36;
color: var(--header-bg-color);
text-transform: uppercase;
letter-spacing: 0.06em;
/* background-color: tomato; */
}

.logo-navigation, .link-navigation {
    text-decoration: none;}
.logo-navigation {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--web-link-color);
}
.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--darkmain-color);
}
.footer-logo{
text-decoration: none;
}
.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--web-link-color);
}
.footer-logo-second{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--header-bg-color);
}

/* Header ссылки */
.link-header-group, .tel-header-group{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--text-cecond-color);
text-decoration: none;
}


.link-header-group:hover, 
.link-header-group:focus{
    color: var(--web-link-color);
}
.tel-header-group:hover,
.tel-header-group:focus {
    color: var(--web-link-color);
}
.footer-map:hover,
.footer-map:focus{
color: var(--web-link-color);
}
.footer-link:hover,
.footer-link:focus{
color: var(--web-link-color);
}
.footer-tel:hover,
.footer-tel:focus{
color: var(--web-link-color);
}

/* убирает маркер нумирации списка */

 .item-header-group, 
 .footer-item, .team-item, .about-item,
  .description-item, .item-navigation, 
  .filter-item, .group-item{
     list-style: none;}

     /* footer */
    .footer-link, .footer-tel{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--Footer-adress);
    text-decoration: none;
    }
    .footer-map{
    color: var(--header-bg-color);
    text-decoration: none;
    }
    
    .footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--footer-adres-color);
    font-style: normal
    }

    /* team-section */
    .team {
    background-color: var(--team-bg-secondhead);
    }
    .team-title, .about-title{
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    font-weight: 700;
    color: var(--text-main-color);
    }
    .team-section-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    }
    .text-team{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-cecond-color);
    }
    .description-second-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    text-transform: uppercase;
    }
    .description-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-cecond-color);
    }
    .link-navigation{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-main-color);
    }
    .link-navigation:hover, 
    .link-navigation:focus{
    color: var(--web-link-color);
    }


    /* портфолио */
    .group-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-main-color);
    }
    .group-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--text-cecond-color);
    }

    /* button */
    .filter-btn{
    display: inline-block;
    padding: 6px 22px;
    border-radius: 4px;
    border: 1px solid transparent;
    text-align: center;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-main-color);
    background-color: var(--team-bg-secondhead);
    cursor: pointer;
    }

    .filter-btn:hover,
    .filter-btn:focus{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-bg-color);
    background-color: var(--web-link-color);
    cursor: pointer;
    }

    .hero-btn{
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    border: 1px solid transparent;
    min-width: 200px;
    text-align: center;
    /* margin-bottom: 200px; */

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--header-bg-color);
    background-color: var(--web-link-color);
    text-decoration: none;
    cursor: pointer;
    }

    .hero-btn:hover,
    .hero-btn:focus{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    
    color: var(--header-bg-color);
    background-color: var(--hover-color);
    cursor: pointer;
    }

    /*current navigation  */




    .link-navigation.current{
    color: var(--web-link-color);
    }

    /* visually-hidden */
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
    
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

   
